<p>Quick way to visualize the top 500 news items on <a href="https://news.ycombinator.com/" target="_blank">Hacker news</a> using <a href="https://angularjs.org/" target="_blank">Angularjs</a> and <a href="https://github.com/HackerNews/API">HackerNews Firebase API</a>. Thumbnails generated using <a href="http://webthumbnail.org" target="_blank">webthumbnail.org</a></p>
<p>See the code on <a href="https://github.com/valentinvieriu/visual-hacker-news">Github</a></p>

<div infinite-scroll="nextPage()" infinite-scroll-disabled='busy' infinite-scroll-distance="1">
	<div class="row marketing" data-ng-show="news">
		<div 
			class="col-sm-6 col-lg-3" 
			data-ng-repeat="newsItem in news track by ::$index"
			data-ng-if="::newsItem.url">
			<div class="news-item">
			  <h5 class="news-title"><span class="label label-default">{{::newsItem.score}}</span> {{::newsItem.title}}</h5>
			  <a href="{{::newsItem.url}}" target="_blank">
			  	<img 
			  		class="img-responsive" 
			  		data-ng-src='https://hnews.xyz/thumbnail/?width=500&height=500&screen=1024&format=jpg&url={{::newsItem.url}}' 
			  		alt="{{::newsItem.title}}" />
			  </a>
			</div>
			<a ng-if="loggedIn && !newsItem.isBookmarked" class="save label label-warning" ng-click="save(newsItem)">save</a>
		</div>
	</div>
</div>
